#cabClass select {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 0%;
  width: 210px;
  height: 50px;
  font-size: 25px;
}

#cabClass .formclass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 213, 255);
  border-radius: 0%;
}
#cjs .divclass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
#cjs .type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#cjs .type [type="radio"] {
  width: 50px;
}
#cjs .type div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 180px;
}
#cjs .divclass [type="date"],
#cjs .divclass [type="time"] {
  width: 170px;
}
#cjs #time {
  display: flex;
  flex-direction: column;
}
#cjs #no {
  position: relative;
  top: 80px;
}
#cjs .tripTypeSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(213, 210, 210);
}
#cjs .tripTypeSelection div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}
#cjs .dateTime {
  display: flex;
  flex-direction: column;
}
#cjs .Rental #when {
  width: fit-content;
}
#cjs .cabDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
#cjs #detail {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  width: 50%;
  height: 140px;
}
#cjs .cabDetail {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 140px;
  border-radius: 20px;
  margin-bottom: 15px;
}
#cjs .cabDetail #type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
#cjs li {
  width: 10px;
}
#cjs #book {
  background-color: rgb(145, 51, 186);
}
#cjs #type p {
  color: grey;
}
#cjs #model {
  font-size: 30px;
  color: black;
}
