#cabClass select {
  font-size: 20px;
  font-family: "Times New Roman", Times, serif;
  padding: 0%;
  width: 210px;
  height: 50px;
  font-size: 25px;
}

#cabClass .formclass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  height: 100px;
  background-color: rgb(0, 213, 255);
  border-radius: 0%;
}
#cjs .divclass {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.type {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.type [type="radio"] {
  width: 50px;
}
.type div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  width: 180px;
}
.divclass [type="date"],
.divclass [type="time"] {
  width: 170px;
}
#time {
  display: flex;
  flex-direction: column;
}
#no {
  position: relative;
  top: 80px;
}
.tripTypeSelection {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(213, 210, 210);
}
.tripTypeSelection div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
}
.dateTime {
  display: flex;
  flex-direction: column;
}
.Rental #when {
  width: fit-content;
}
.cabDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
}
#detail {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
  width: 50%;
  height: 140px;
}
.cabDetail {
  display: flex;
  background-color: white;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  height: 140px;
  border-radius: 20px;
  margin-bottom: 15px;
}
.cabDetail #type {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
li {
  width: 10px;
}
#book {
  background-color: rgb(145, 51, 186);
}
#type p {
  color: grey;
}
#model {
  font-size: 30px;
  color: black;
}
