.cabBookingDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cabBookingDetails h2 {
  color: #4bad57;
  font-size: 50px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  margin-bottom: 5px;
}
.cabBookingDetails #logo {
  padding: 0px;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 10px;
}
