.cabBookingDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cabBookingDetails h2 {
  color: #4bad57;
  font-size: 50px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  margin-bottom: 5px;
}
.cabBookingDetails #logo {
  padding: 0px;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.cabBookingDetails .detail-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 200px;
}
.cabBookingDetails #back {
  color: black;
  background-color: white;
}
.cabBookingDetails #print {
  color: white;
  background-color: rgb(153, 7, 183);
}
.cabBookingDetails .detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.cabBookingDetails .detail-label {
  flex: 1;
  font-weight: bold;
  color: rgb(153, 7, 183);
  display: flex;
  justify-content: start;
  padding-left: 30px;
}

.cabBookingDetails .detail-value {
  flex: 1;
  text-align: right;
  color: #4bad57;
  padding-right: 30px;
}
.cabBookingDetails .details-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #4bad57;
}
.cabBookingDetails .cabContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: center;
  justify-content: center;
}
.cabBookingDetails button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.cabBookingDetails button:hover {
  background-color: #0056b3;
}
