.flightbookingdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}

.flightbookingdetails .details-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  background-color: white;
  border-radius: 25px;
  border: 2px solid #4bad57;
}
.flightbookingdetails .detail-img img {
  width: 200px;
}
.flightbookingdetails h2 {
  color: #4bad57;
}
.flightbookingdetails .detail-img {
  background-color: #4bad57;
  border-top-left-radius: 22px;
  border-top-right-radius: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.flightbookingdetails .detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.flightbookingdetails .detail-label {
  flex: 1;
  font-weight: bold;
  color: rgb(153, 7, 183);
  display: flex;
  justify-content: start;
  padding-left: 30px;
}

.flightbookingdetails .detail-value {
  flex: 1;
  text-align: right;
  color: #4bad57;
  padding-right: 30px;
}

.flightbookingdetails button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}
.flightbookingdetails #logo {
  padding: 0px;
  width: 450px;
  margin-bottom: 20px;
}
.flightbookingdetails button:hover {
  background-color: #0056b3;
}
