.fss h2 {
  color: #4bad57;
}
.fss .seatBooking img {
  width: 300px;
}
.fss .seatBooking {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fss .seat {
  background-color: white;
  width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 25px;
  margin-bottom: 50px;
  padding-bottom: 30px;
}
.fss {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.fss .plane {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(139, 181, 195);
  width: 700px;
  height: 700px;
  overflow-y: scroll;
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  border-radius: 25px;
  position: relative;
}
.fss .body {
  background-color: white;
  box-sizing: border-box;
  height: 1780px;
  width: 300px;
}
.fss #class {
  color: rgb(153, 7, 183);
  background-color: rgb(204, 204, 250);
}
.fss .body button {
  font-size: 18px;
  color: #141eae;
  background-color: transparent;
  font-weight: bold;
}
.fss .body p {
  font-size: 18px;
  color: #141eae;
}
.fss .firstclassSeats {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgb(204, 204, 250);
}

.fss .businessSeats,
.fss .economySeats {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 2px;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  justify-items: center;
  background-color: rgb(204, 204, 250);
}

.fss .fcs {
  border: 1px solid black;
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fss .bs {
  border: 1px solid black;
  box-sizing: border-box;
  height: 50px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fss .es {
  border: 1px solid black;
  box-sizing: border-box;
  height: 50px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.fss #display {
  display: flex;
  flex-direction: column;
  width: 150px;
  background-color: white;
  padding: 5px;
  border-radius: 10px;
  position: sticky;
  right: 520px;
  top: 50px;
}
.fss #display div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#green,
#blue,
#red {
  width: 25px;
  height: 25px;
}
#green {
  background-color: #4bad57;
}
#blue {
  background-color: #1f78b4;
}
#red {
  background-color: #df5656;
}
.fss #logo {
  padding: 0px;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.pay-button {
  margin-bottom: 15px;
  background-color: #1f78b4;
  margin-top: 15px;
}
.pay-button {
  margin-bottom: 15px;
  background-color: #1f78b4;
  margin-top: 15px;
}
.fss .travellerList {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fss #input {
  display: flex;
  align-items: center;
  justify-content: center;
}
.fss input {
  width: 50px;
}
.fss .list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.fss #button {
  position: relative;
  top: 6px;
}
.fss #add {
  margin-top: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
  background-color: #1f78b4;
}
.fss #guest {
  display: flex;
  flex-direction: column;
}
.fss #check {
  margin-bottom: 10px;
}
