.stc .travellerclass {
  position: absolute;
  top: 20vh;
  left: 35vw;
  display: none;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(233, 227, 227, 0.5);
  border-radius: 25px;
  width: 30%;
  backdrop-filter: blur(10px);
  padding: 10px;
}
.stc .savedtravellerclass {
  position: absolute;
  top: 20vh;
  left: 35vw;
  background-color: rgba(233, 227, 227, 0.5);
  border-radius: 25px;
  width: 30%;
  backdrop-filter: blur(10px);
  padding: 10px;
  margin-top: 30px;
}
.stc .savedtravellerclass h2 {
  color: #4bad57;
}
.stc .travellerclass h2 {
  color: #4bad57;
  margin-bottom: 10px;
}
.stc #logo {
  padding: 25px;
  width: 450px;
  margin-bottom: 20px;
}
.stc .travellerclass div {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.stc .travellerclass #submit,
.stc .savedtravellerclass #submit {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  width: 60%;
}
.stc .travellerclass #submit {
  margin-top: 15px;
}
.stc .savedtravellerclass #submit {
  margin-bottom: 15px;
}
.stc button {
  border-radius: 25px;
  width: 80px;
  height: 40px;
  font-size: 25px;
  border: 0px;
  font-family: "Times New Roman", Times, serif;
}
.stc .travellerclass input,
.stc .travellerclass select {
  width: 350px;
  height: 35px;
  border-radius: 4px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid;
}
.stc #stdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stc .travellerclass label {
  color: black;
  font-weight: lighter;
}
.stc #s {
  background-color: #4a21db;
  color: white;
}
.stc #c {
  background-color: transparent;
  color: black;
}
.stdiv #s {
  background-color: #4a21db;
  color: white;
}
.stdiv #c {
  background-color: transparent;
  color: black;
}

.stc #st {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding-left: 10px;
}
.stc #st .input {
  display: flex;
  flex-direction: column;
  align-items: start;
}
.stc #st .button {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.stc #st p {
  color: #4a21db;
}
