.bookingdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo1 {
  width: 450px;
  margin-bottom: 20px;
}

.details {
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.details p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  line-height: 1.5;
}

.label {
  font-weight: bold;
  margin-right: 10px;
}

.value {
  flex: 1;
  text-align: right;
  color: green;
}

.payment-status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.pay-button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.pay-button:hover {
  background-color: #0056b3;
}
