.busbookingdetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
}
.busbookingdetails .busContainer {
  display: flex;
  flex-direction: column;
  width: 800px;
  align-items: center;
  justify-content: center;
}
.busbookingdetails .details-container {
  display: flex;
  flex-direction: column;
  width: 700px;
  background-color: white;
  border-radius: 25px;
  padding: 30px;
}
.busbookingdetails .detail-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  width: 200px;
}
.busbookingdetails #back {
  color: black;
  background-color: white;
}
.busbookingdetails #print {
  color: white;
  background-color: rgb(153, 7, 183);
}
.busbookingdetails .detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.busbookingdetails .detail-label {
  flex: 1;
  font-weight: bold;
  color: rgb(153, 7, 183);
  display: flex;
  justify-content: start;
}
.busbookingdetails #logo {
  padding: 0px;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.busbookingdetails h2 {
  color: #4bad57;
  font-size: 50px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  margin-bottom: 5px;
}
.busbookingdetails .detail-value {
  flex: 1;
  text-align: right;
  color: #4bad57;
}

.busbookingdetails button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 25px;
}

.busbookingdetails button:hover {
  background-color: #0056b3;
}
