#myTrips {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.tripTabs {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding-right: 10px;
  padding-left: 10px;
  height: 75px;
  width: 80%;
  background-color: white;
}
#ttab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
}
#ttab label {
  width: 150px;
}
#ttab input[type="radio"] {
  width: 50px;
}
#logo {
  padding: 0px;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 10px;
}
#tripsClass {
  display: flex;
  align-items: start;
}
#tripsClass .selector {
  display: flex;
  flex-direction: column;
  width: 70px;
  height: 100vh;
  border-radius: 0px;
  position: fixed;
}
#tripsClass h2 {
  color: #4bad57;
  font-size: 50px;
  font-style: italic;
  font-family: "Times New Roman", Times, serif;
  margin: 0px;
  margin-bottom: 5px;
}
#tripsClass .detail-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
#tripsClass .detail-label {
  flex: 1;
  font-weight: bold;
  color: rgb(153, 7, 183);
  display: flex;
  justify-content: start;
  padding-left: 30px;
}
#tripsClass .detail-value {
  flex: 1;
  text-align: right;
  color: #4bad57;
  padding-right: 30px;
}
#tripsClass #containerClass {
  border-radius: 25px;
  width: 500px;
  background-color: white;
  padding: 5px;
  margin-top: 25px;
}
#tripsClass #notFound {
  margin-top: 100px;
}
