.hotelBookingDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  font-family: Arial, sans-serif;
  border-radius: 10px;
}

.hotelBookingDetails #logo {
  width: 450px;
  margin-bottom: 20px;
}
.hotelBookingDetails #input {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
}
.hotelBookingDetails .list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.hotelBookingDetails #input p {
  color: green;
}
.hotelBookingDetails #guest {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.hotelBookingDetails .details {
  width: 100%;
  max-width: 600px;
  text-align: left;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

.hotelBookingDetails .details p {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  line-height: 1.5;
}

.hotelBookingDetails .label {
  font-weight: bold;
  margin-right: 10px;
}

.hotelBookingDetails .value {
  flex: 1;
  text-align: right;
  color: green;
}

.hotelBookingDetails .payment-status {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.hotelBookingDetails .pay {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hotelBookingDetails .pay-button:hover {
  background-color: #0056b3;
}
.hotelBookingDetails #none {
  position: absolute;
  top: 30vh;
}
