.profileclass {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 25px;
  width: 30%;
  backdrop-filter: blur(5px);
  margin-bottom: 15px;
}

.profileclass h2 {
  color: #4bad57;
  margin-bottom: 5px;
}
.profileclass div {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
}
.profileclass #submit {
  display: flex;
  flex-direction: row;
}

.profileclass input {
  width: 400px;
  height: 35px;
  border-radius: 4px;
  font-size: 25px;
  font-family: "Times New Roman", Times, serif;
  border: 1px solid;
}
.profileclass label {
  color: black;
  font-weight: lighter;
}
#s {
  background-color: rgb(69, 40, 237);
}
#c {
  background-color: transparent;
  color: black;
}
.profile #logo {
  padding: 0px;
  width: 450px;
  margin-bottom: 20px;
  margin-top: 10px;
}
.profile select {
  width: 400px;
  height: 35px;
  border-radius: 4px;
}
